<h1>About Us...</h1>
<p> My name is Radim Novák. I was born on 24th November, 2000 in Prague, Czech Republic</p>
<p> My main hobbies are cars and computer science</p>
<p> I drive a lovely 328i E36 BMW and I am currently in the process of learning ruby on rails, therefore I created this page</p>